*, *::before, *::after{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg ,#66FCF1 ,#1F2833);
}
h1{
    text-align: center;
    padding-top: 10px;
    font-size: 3rem;
}

.score-box{
    font-size: 1rem;
    margin: auto;
    margin-bottom: 30px;
    overflow: auto;
    text-align: center;
    align-self: center;
    background-color: white;
    width: 20%;
    box-shadow: 5px 5px 10px grey;
    border-radius: 25px;
}

#final-score-box{
    height: 10%;
    font-size: 1rem;
    box-shadow: 5px 5px 10px grey;
    border-radius: 25px;
    background-color: white;
    margin: auto;
    text-align: center;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.container{
    background-color: white;
    width: 40%;
    height: 40%;
    padding: 5px;
    margin: auto;
    box-shadow: 5px 5px 10px grey;
    border-radius: 25px;
    overflow: auto;
}

@media(max-width: 480px){
    .container{
        width: 95%;
        height: 50%;
        word-wrap: break-word;
        padding:10px;
    }
    .score-box{
        width: 80%;
    }
    #start-form{
        justify-content: center;
    }
    #final-score-box{
        height: 40%;
    }
}

#quiz-title{
    font-size: 1.5rem;
}

#start-box{
    display: flex;
    flex-direction: column;
}

#start-box>p{
    text-align: center;
    flex:1;
    font-size: 1.5rem;
}

#question-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#question-box>p{
    font-size: 1.5rem;
    text-align: center;
}
#start-form{
    flex:3;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

select{
    border-radius: 25px;
    text-align: center;
}
input{
    text-align: center;
}

#form-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

#form-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.btn{
    background-color: #606060;
    border-radius: 5px;
    color: white;
    vertical-align:auto;
    padding: 5px;
}

.btn:hover{
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    transform: translateY(-0.15rem)
}
.correct{
    border: 5px solid green;
    background-color: green;
}

.incorrect{
    border: 5px solid red;
    background-color: red;
}

#next-btn{
    height: 2rem;
    width: 5rem;
    justify-content: flex-end;
    align-self: flex-end;
}

#answer-btns{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:5px;
}

#endgame-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


#meme{
    width: 40vw;
    height: 60vh;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px; 
    align-self: center;
}


.hidden{
    display:none !important;
    
}

#loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}